@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --text-color: #fff;
    --text-color-backDark :#fff;
    --text-color-backLight : #000a12;
    --text-color-focus : #FFC700;
  
    --button-color-backDark: #fff;
    --button-color-focus-backDark: #263238;
    --button-color-backLight: #263238;
    --button-color-focus-backLight: #FFC700;
  
    --background-color-header: #000a12;
    --background-color-baisc: #263238;
    --background-color-side: #4f5b62;
    --background-color-ligt: #fff;
    --background-color-opacity: 0.8;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', 'Nanum Gothic', sans-serif; */
    font-family: 'Source Sans Pro', 'Nanum Gothic', sans-serif;
    box-sizing: border-box;    
    font-size: 16px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%; height: 100vh;
    position: relative;
}

section:last-child {
    height: 95vh;
}

section > h2 {
    text-align: center;
    font-size: 28px;
    padding: 70px 0 50px 0;
}

#page1 {
    background: url(../img/page1_me.jpg) no-repeat center/cover;
    color: var(--text-color-backDark);
}

#page2 {
    background: var(--background-color-ligt);
    color: var(--text-color-backLight);
}
#page3 {
    background: var(--background-color-baisc);
    color: var(--text-color-backDark);
}

#page4 {
    background: var(--background-color-ligt);
    color: var(--text-color-backLight);
}

#page5 {
    color: var(--text-color-backDark);
}

.contents {
    width: 98vw;  max-width: 1240px;
    height: 85vh;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 0;
}

h2 {
    font-size: 50px;
}
/********************************************/

header {
    position: fixed;    
    top: 0; left: 0px;
    width: 100%;  height: 100px;
    z-index: 1000;
    background-color: var(--background-color-header);
    display: flex;
    justify-content: space-between;  align-items: center;
    padding: 50px;
}

nav .menuBtn {
   display: none;
}


nav #navi {
    width: 660px;    
    display: flex; 
    justify-content: space-between; align-items: center;
}

#navi li a {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    text-align: right;
    color: var(--text-color-backDark);
    transition: 0.5s;
}

#navi li a:hover,
#navi li a.on {
    color: var(--text-color-focus);
}

/*
#navi li a span {    
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    background-color: #fff;
    border-radius: 100%;
    margin-right: 5px;
}
*/
/*
#navi li a.on span {
    background-color: red;
}    
#navi li + li {
    margin-top: 10px;
    margin-bottom: 10px;
}*/

/********************************************/

#page1::after {
    content: '';
    position: absolute;
    background: var(--background-color-header);
    width: 100%; height: 100%;
    top: 0; left: 0;
    z-index: 0;
    opacity: var(--background-color-opacity);
}

#page1 article {
    z-index: 1;
    text-align: center;
    color: var(--text-color-backDark);
}

#page1 .page1__text {
    font-size: 18px/18px;    
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, -30%);
}

#page1 .page1__scrollDown {
    position: absolute;
    bottom: 70px;  left: 50%;
    transform: translateX(-50%);
    animation: shake 1s ease-in-out 2.2s infinite; 
}

@keyframes shake {
    0%, 100% {bottom: 70px;}
    50% {bottom: 50px;}
} 

#page1 .page1__scrollDown i {
    font-size: 30px;    
}


/********************************************/
#page2 .page2__contents{
    
}

#page2 .page2__contents .page2__img {
    width: 100%; 
    /*   transform: matrix(2, 0, 0, 2, -200, -100);   */
    /*position: absolute;
    bottom: 0px; left: 50%;
    /*transform: scale(2);
    transform: translateX(-50%);
    */
    transition: .5s;
}

#page2 .page2__contents .page2__img img {
    height: 85vh;  min-width: 50vw;
    position: absolute;
    bottom: -7.6vh; left: 90%;
    transform: translateX(-50%);
    z-index: -1;
}

#page2 .page2__contents .page2__introduce {
    position: absolute; left: 0; top: 100px;
    height: 100%;
}

#page2 .page2__contents .page2__introduce .introduce__title {
    /* width: 1000px;
    height: 500px; 
    position: absolute;
    top: 50px; left: 100px; */
    z-index: 3; transition: 1s;    
}

#page2 .page2__contents .page2__introduce .introduce__title.active {
    z-index: 5; opacity: 1;
}

#page2 .page2__contents .page2__introduce .introduce__title p {
    font-size: 60px;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: -0.002em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#page2 .page2__contents .page2__introduce .introduce__desc {
    margin: 100px 0; opacity: 1;
}

#page2 .page2__contents .page2__introduce .introduce__desc p {
    color: #1d1d1f;
    font-size: 22px;
    line-height: 1.6;
    font-weight: 200;
    letter-spacing: .009em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*
#page2 .page2__contents {
    display: flex; justify-content: space-between; align-items: center;
}

#page2 .page2__contents .page2__img {
    position: relative;
}

#page2 .page2__contents .page2__img img {
    position: relative;
    width: 328px;
}

#page2 .page2__contents .page2__img img::after {
    content: '';    
    width: 500px;
    height: 500px;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 10px;
}

#page2 .page2__contents .page2__introduce {
    /* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%); 
    
}

#page2 .page2__contents .page2__introduce p {    
    font-size: 1vw;
    line-height: 3vw;
}

/*
#page2 .page2__contents .page2__introduce p:nth-of-type(5) {
    margin-top: 60px;
    text-align: center;
}

#page2 .page2__contents .page2__introduce p:nth-of-type(5) span {
    font-size: 2vw;
    line-height: 1.5;
}

#page2.on .page2__contents .page2__introduce p:nth-of-type(5) span {
	color: transparent;
	animation: blur 5s ease-out;
	-webkit-animation: blur 5s ease-out;
}

#page2.on .page2__contents .page2__introduce p:nth-of-type(5) span:nth-child(1) {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}

#page2.on .page2__contents .page2__introduce p:nth-of-type(5) span:nth-child(2) {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}

#page2.on .page2__contents .page2__introduce p:nth-of-type(5) span:nth-child(3) {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}

@keyframes blur {
	0%		{text-shadow:  0 0 100px #111; opacity:0;}
	5%		{text-shadow:  0 0 90px #111;}
	15%		{opacity: 1;}
	50%		{text-shadow:  0 0 0px #111;}
	90%		{text-shadow:  0 0 0px #111;}
	100%		{opacity: 1; }
	/*95%		{text-shadow:  0 0 90px #111;}
	100%	{text-shadow:  0 0 100px #111; opacity:0;}
}
*/
/* 
#page2 .page2__contents .page2__introduce .page2__button {
    position: absolute;
    top: 70%; left: 0;
    transform: translateY(-50%);
    width: 180px; height: 80px;
    background: var( --button-color-backLight);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 .page2__contents .page2__introduce .page2__button a {    
    display: block;  
    color: var(--text-color-backDark);
    font-size: 25px;
    text-align: center;
    transition: all .3s;
} */

#page2 .page2__contents .page2__introduce .page2__channel {
    position: absolute;
    top: 70%; left: 0;
    transform: translateY(-50%);
}

#page2 .page2__contents .page2__introduce .page2__channel h3 {
    font-size: 20px;
}

#page2 .page2__contents .page2__introduce .page2__channel div {
    display: flex;
    align-items: center;
}

#page2 .page2__contents .page2__introduce .page2__channel div a {
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: var(--text-color-backLight);
}

#page2 .page2__contents .page2__introduce .page2__channel div a:hover {
    color: var(--text-color-focus)
}

#page2 .page2__contents .page2__introduce .page2__channel img {
    width: 25px;
    margin-right: 5px;
}

/* 
#page2 .page2__contents .page2__introduce .page2__button {
    text-align: center;
}


#page2 .page2__contents .page2__introduce .page2__button:hover a {
    color: var(--text-color-focus);
} */
/********************************************/

.page3__contents {
    display: flex;
    flex-direction: column;  justify-content : space-around;
    color: var(--text-color-backDark);
    text-align: center;  
  }
  
  .page3__contents .page3__content > p {
    margin-bottom: 50px;
    font-weight: 0; font-size: 30px;
    position: relative;
  }
  
  .page3__contents .page3__content > p::before {
    content: '';
    width: 40vw;  max-width: 500px;
    border: 1px solid #fff;
    position: absolute;
    top: 50%; left: 0;
    transform : translateY(-50%);
  }
  
  .page3__contents .page3__content > p::after {
    content: '';
    width: 40vw; max-width: 500px;
    border: 1px solid #fff;
    position: absolute;
    top: 50%; right: 0;
    transform : translateY(-50%);
  }
  
  .page3__contents .page3__list {
    display: flex;
    justify-content : space-around;    
  }
  
  .page3__contents .page3__list > div {
    display: flex;
    flex-direction: column;
    justify-content : space-between;
    align-items: center;
    padding: 10px;
    flex : 1;
  }
  
  .page3__contents .page3__list > div > .item__img {
    width: 100px; height: 100px;
    border-radius: 100%;
    background: var(--background-color-ligt);
    display: flex;
    justify-content : center;
    align-items: center;
  }

  .page3__contents .page3__list > div > .item__img img {
      width: 50px;
  }
  
  .page3__contents .page3__list > div > .item__title {
    margin: 10px 0;
  }
  
  .page3__contents .page3__list > div > .item__desc {
    
  }
  
/********************************************/

#page4 {
   
}

#page4 .page4__contents {
    width: 70vw; height: 50%;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); 
}

#page4 .page4__contents .imgSildeWrap {
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
   overflow: hidden;
}

ul.imagePanel { 
    /*   width: 400%;  */
    height: 100%;
    position: absolute; top: 0; left: -100%;
    display: flex; justify-content: start;
    /*   transition : 0.5s; */
}
    
ul.imagePanel.prev { left: 0; }
ul.imagePanel.next { left: -200%; }
    
ul.imagePanel li { 
    /*   width: 25%;  */
    height: 100%;
}
   
ul.indicator {
    width: 100%; 
    position: absolute; bottom: -5vh; left: 0;
    display: flex; justify-content: center; align-items: center;
 }
  
 ul.indicator li + li { 
    margin-left: 10px; 
  }
  
  ul.indicator li a { 
    display: block; width: 15px; height: 15px; 
    background: var(--background-color-baisc); border-radius: 20px; 
    overflow: hidden; text-indent: -999px;
  }
  
  ul.indicator li.on a {    
    animation: checked 1.5s ease;
    animation-fill-mode: forwards;
  }

@keyframes checked {
    100% { width: 50px; background: var(--background-color-side); }
} 
  
  div.control a {
    width: 60px; height: 60px;
    position: absolute; top: 50%; 
    transform: translateY(-50%);
  }
  
  div.control .btnPrev { left: -10vh;}
  div.control .btnNext { right: -10vh; }
  
  div.control .btnPrev span,
  div.control .btnNext span {
    position: absolute; top: 50%; 
    transform: translateY(-50%); 
  }
  
  div.control .btnPrev::before,
  div.control .btnPrev::after,
  div.control .btnNext::before,
  div.control .btnNext::after {
    content: '';
    display: block; 
    position: absolute; top: 50%;
    transform: translateY(-50%); 
    width: 100%; height: 2px; background: var(--button-color-backLight);
    transition: 0.5s 0.2s;
  }
  
  div.control .btnPrev::before,
  div.control .btnPrev::after { transform-origin: left top; }
  div.control .btnPrev::before { transform: rotate(-45deg); }
  div.control .btnPrev::after {  transform: rotate(45deg); }
  div.control .btnPrev span { right: 0; }
  
  div.control .btnNext::before,
  div.control .btnNext::after { transform-origin: right top;}
  div.control .btnNext::before { transform: rotate(45deg); }
  div.control .btnNext::after {  transform: rotate(-45deg); }
  div.control .btnNext span { left: 0; }
  
  div.control .btnPrev:hover span,
  div.control .btnNext:hover span {
    color: var(--text-color-focus);
  }

/********************************************/

ul.imagePanel > li {
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

ul.imagePanel li .panel__img {
    margin-right: 30px;
}

ul.imagePanel li .panel__img img {    
    height: 35vh;
}

ul.imagePanel li .panel__info {
    flex: 50%;   
    text-align: left;
    padding: 20px 0;
    line-height: 2;
}

ul.imagePanel li .panel__info .info__title {
    margin: 50px 0;
    font-size: 39px;
    font-weight: normal;
}

ul.imagePanel li .panel__info .info__txt li strong {
    width: 35%;
    font-weight: bold;
    display: inline-block;
}

ul.imagePanel li .panel__info .info__txt i {
    color: #1957f3;
}

ul.imagePanel li .panel__info .info__point {
    margin: 30px 0;
    font-size: 18px;
    font-weight: normal;
}

ul.imagePanel li .panel__info .info__point span {
    font-weight: bold;
}

ul.imagePanel li .panel__info .info__link {
    display: flex;
    justify-content: center;
}

ul.imagePanel li .panel__info .info__link p + p {
    display : inline-block;
    margin-left: 10px;
}

ul.imagePanel li .panel__info .info__link a {
    display : inline-block;
    width: 200px;
    height: 50px;
    background: var( --button-color-backLight);
    color: var(--text-color-backDark);
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    border-radius: 10px;   
    transition: all .3s;
}

ul.imagePanel li .panel__info .info__link a:hover {
    color: var(--text-color-focus);
}

/********************************************/
#page5 {
    background: var(--background-color-baisc);
    display : flex;  
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    color: var(--text-color-backDark);
    
}

#page5 > article {
  width: 100%;
  position: relative;
}

#page5 > article .contents {
    width: 98vw;
    max-width: 1240px;
    /*     height: 85vh; */
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 0;   
    height: 100%;
}


#page5 > article.page5__contents__top {
    height: 30vh;
    background-image: url('https://yujiseon.github.io/portfolio/img/giorgio-trovato-v_bri4iVuiM-unsplash.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;    
    background-attachment: fixed;
    position: relative;
} 

#page5 > article.page5__contents__top::after {
    content: '';
    position: absolute;
    background: var(--background-color-header);
    width: 100%; height: 100%;
    top: 0; left: 0;
    z-index: 0;
    opacity: var(--background-color-opacity);
}

#page5 > article.page5__contents__top .contents{
    z-index: 1;
    position: relative;
}

#page5 > article.page5__contents__top p {
    margin-top: 50px;
    font-size: 60px;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: -0.002em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: absolute;
    top: 50%; transform: translateY(-50%);
}

#page5 > article.page5__contents__bottom {
    height: 65vh;
    display : flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    text-align: center;
}


#page5 > article.page5__contents__bottom form {
    margin : 10px auto;
    width: 50%;
    display : flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    text-align: center;
}

#page5 > article.page5__contents__bottom form fieldset {
  border: none; width: 100%;
}

#page5 > article.page5__contents__bottom form legend {
    margin-bottom: 50px;
    font-weight: 0;font-size: 30px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.formItem {
    position :relative;
}

.page5__contents__bottom input[type=text],
.page5__contents__bottom input[type=email],
.page5__contents__bottom input[type=tel],
.page5__contents__bottom textarea {
    width: 100%;
    padding: 12px 0px 12px 0px;   
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--background-color-ligt);
    border-radius: 5px;    
}

.page5__contents__bottom input[type=text],
.page5__contents__bottom input[type=email],
.page5__contents__bottom input[type=tel],
.page5__contents__bottom textarea {
    padding-left: 10px;
    box-sizing: border-box;
}

.page5__contents__bottom .formItem::before {
  content: '';
  width: 20px; height: 20px;
  position: absolute;
  top: 50%; right: 10px;
  transform: translateY(-50%);  
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;  
  opacity: 0.5;
}

.page5__contents__bottom .nameForm::before {
  background-image: url('https://yujiseon.github.io/portfolio/img/user-solid.png'); 
}

.page5__contents__bottom .emailForm::before {
  background-image: url('https://yujiseon.github.io/portfolio/img/mail.png'); 
}

.page5__contents__bottom .phoneForm::before {
  background-image: url('https://yujiseon.github.io/portfolio/img/user-solid.png'); 
}

.page5__contents__bottom .messageForm::before {
  background-image: url('https://yujiseon.github.io/portfolio/img/pen.png');
  top: 20px; transform: translateY(0%);
}

textarea {
    height: 100px; resize: none;
}

input#submit {     
    border: none;
    width: 140px;  height: 50px;
    background: var(--button-color-backDark);
    color: var(--text-color-backLight);
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;
    margin-top: 30px;
}

input#submit:hover {
    background: var(--button-color-focus-backLight);    
}

/********************************************/

footer {
    width: 100%;  height: 5vh;  
    background: var(--background-color-baisc);
    color: var(--text-color-backDark);
    position: relative;
    text-align: center;
}

footer .contents {  
    padding: 0 0; height: 100%;
}

